@font-face
{
    font-family: "IcoFont";
    font-weight: normal;
    font-style: "Regular";
    src: url("./assets/fonts/icofont.woff2") format("woff2"),
    url("./assets/fonts/icofont.woff") format("woff");
}